<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Login</title>
</head>
<body>
  <h3>Login</h3>
  <form action="/login" method="POST">
    <div class="form">
    <label for="email">Enter your email: </label>
    <input type="email" name="email">
    </div>
    <div class="form">
    <label for="password">Enter your password: </label>
    <input type="password" name="password">
    </div>
    <input type="submit" value="Login">
  </form>
</body>
</html>